body {
  background-color: #f6f6f6;
  color: #707070;
  font: 16px Verdana, sans-serif;
  width: 100%;
  min-height: 100%;
}

h3 {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: #707070;
  margin-bottom: -33px;
  margin-left: 50px;
  margin-top: 16px;
}

ul {
  width: 100%;
}

#logo {
  margin-left: 30px;
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.navbar {
  background-image: linear-gradient( to right, #F8F8F8, #343434);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

#navegacao{
  margin-right: 12px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
}

#lista {
  margin-top: 160px;
  width: 970px;
  height: 436px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -3px -5px 6px #00000024;
  border-radius: 15px;
  opacity: 1;
  float: right;
}

#icone-pesquisa {
  float: right;
  margin-right: 30px;
  margin-top: 22px;
}

#pesquisar {
  margin-top: 22px;
  margin-bottom: 15px;
  margin-right: 20px;
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  min-width: 250px;
  font-size: 16px;
  float: right;
}

table {
  margin-left: 60px;
  border-collapse: collapse;
  width: 75%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  margin-top: 50px;
}

.barra {
  background-color: #fff;
  height: 370px;
  width: 280px;
  display: inline-block;
  margin-top: 160px;
  color:#fff;
  border-radius: 20px;
  box-shadow: -3px -5px 6px #00000029;
}

#cor {
  color:#707070;
}

.nav-link {
  text-align: left;
  width: 200px;
  margin-right: 55px;
  margin-top: -20px;
}

#tabela {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

#busca {
  width: 969px;
  border: 0.5px solid #707070;
  margin-top: 55px;
  display: flex;
  opacity: 60%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#707070;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

#add-button{
  padding-top: 17px;
}

.label input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  min-width: 350px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;

}

.label input:focus{
  border-bottom: 2px solid #707070;
}

.label input::placeholder{
  color:transparent;
}

.label label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 50px;
  margin-left: 75px;
  width: 350px;
  float: left;
}

.label-float input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  min-width: 350px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;

}

.label-float input:focus{
  border-bottom: 2px solid #707070;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label{
  color: #707070;
}
.label-float input:focus:required:invalid{
  border-bottom: 2px solid #707070;
}
.label-float input:required:invalid + label:before{
  content: '';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #707070;
}

#lista-cadastro {
  margin-top: 160px;
  width: 970px;
  height: 460px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -3px -5px 6px #00000024;
  border-radius: 15px;
  opacity: 1;
  float: right;
}

.botoes {
  float: none;
}

.botao-cadastrar {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: #707070;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid #707070;
  float: right;
  margin-right: 130px;
}

.botao-cadastrar:hover {
  background-color: #333333;
  color: white;
}

.botao-cancelar {
  border: 2px solid #707070;
  border-radius: 25px;
  background-color: white;
  color: #707070;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 80px;
  float: left;
  margin-left: 130px;
}

.botao-cancelar:hover {
  background-color: #333333;
  color: white;
}
@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url('../fonts/Verdana.ttf'); 
}


* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #fff;
}



p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.txt1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #ffffff;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1C1C1C;
  background: -webkit-linear-gradient(bottom, #1C1C1C, 	#A9A9A9);
  background: -o-linear-gradient(bottom, #1C1C1C, 	#A9A9A9);
  background: -moz-linear-gradient(bottom, #1C1C1C, 	#A9A9A9);
  background: linear-gradient(bottom, #1C1C1C, 	#A9A9A9);
  opacity: 0.9;
}

.wrap-login100 {
  width: 390px;
  background: transparent;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
}

/*---------------------------------------------*/
.login100-form-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -110px;
}
.login100-form-avatar img {
  width: 100%;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  display: block;
  width: 100%;
  background: #fff;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 53px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #1C1C1C;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

#symbol-input100 {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #333333;
  padding-left: 23px;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #e0e0e0;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top: 0;
  left: 0;
  background: #1C1C1C;
  background: -webkit-linear-gradient(left, #1C1C1C, #a9a9a9);
  background: -o-linear-gradient(left, #1C1C1C, #a9a9a9);
  background: -moz-linear-gradient(left, #1C1C1C, #a9a9a9);
  background: linear-gradient(left, #1C1C1C, #a9a9a9);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.login100-form-btn:hover {
  background: transparent;
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 1;
}
#lista-cadastro-cliente {
  margin-top: 160px;
  width: 970px;
  height: 750px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -3px -5px 6px #00000024;
  border-radius: 15px;
  opacity: 1;
  float: right;

}
