@layout("layouts.master")

@section("content")

<div id="lista">
  <div>
    <div id="busca">

    </div>
    <table id="tabela">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Data de Entrada</th>
          <th>Status</th>
          <th>Valor</th>
          <th>Data de Entrega</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Visão do show.edge</td>
          <td>01/01/2021</td>
          <td>Pronto</td>
          <td>R$50,00</td>
          <td>01/01/2021</td>
          <td><span class="material-icons">edit</span></td>
          <td><span class="material-icons">delete</span></td>
        </tr>
        <tr>
          <td>Visão do show.edge</td>
          <td>01/01/2021</td>
          <td>Pronto</td>
          <td>R$50,00</td>
          <td>01/01/2021</td>
          <td><span class="material-icons">edit</span></td>
          <td><span class="material-icons">delete</span></td>
        </tr>
        <tr>
          <td>Visão do show.edge</td>
          <td>01/01/2021</td>
          <td>Pronto</td>
          <td>R$50,00</td>
          <td>01/01/2021</td>
          <td><span class="material-icons">edit</span></td>
          <td><span class="material-icons">delete</span></td>
        </tr>
        <tr>
          <td>Visão do show.edge</td>
          <td>01/01/2021</td>
          <td>Pronto</td>
          <td>R$50,00</td>
          <td>01/01/2021</td>
          <td><span class="material-icons">edit</span></td>
          <td><span class="material-icons">delete</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<a href="/cliente/create" class="float">
  <i id="add-button" class="material-icons">add</i>
</a>


@endsection
