@layout("layouts.master")

@section("content")
<div id="lista">
  <div>
    
    
    <form id="frmDate">
        <label for="data">Nome</label>
        <input type="text" name="input" value="nome" >
        <label for="data">Selecione uma data:</label>
        <input type="date" id="data" name="data">
    </form>
    
    <h2 id="resultado"></h2>

  </div>
</div>


@endsection