<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Lemes Company</title>
            
        <!-- CSS e Bootstrap -->
        {{ style("css/styles.css") }}
        {{ style("css/loginUtil.css") }}
        {{ style("css/stylesordem.css") }}
        

        <!-- Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Datalist -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <!-- máscaras-->
        
    </head>

    <body>
        <!-- Nav Bar-->
        @include('layouts.navbar')

        <!-- Menu esquerdo-->
        @include('layouts.menu')

        <!-- Lado direito-->
        @!section('content')

        <!--Tasklist-->

        {{--  @!sectiontasklist('layout.tasklist')  --}}
  
        <!-- Scripts JavaScript-->
        @!section('scripts')
        
    </body>
</html>
