<div>
    <ul class="navbar">
      
      <img id="logo" src="{{ APP_URL }}{{ assetsUrl('logo.png') }}">
      
      <li>
        <a id="navegacao" href="/logout">
          <span class="material-icons">logout</span>
        </a>
      </li>
    </ul>
</div>  
